:root {
    --border-color: #D9D5D5;
    --button-color: #FFFFFF;
    --button-bg-color: #3C48A5;
    --button-width: 316px;
    --button-height: 50px;
    --input-border-color: #878686;
    --active-tab-color: #6D7DF6;
    --profile-info-color: #1F1F1F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.profile {
    margin-left: 2.5em;
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5em;
}

.profile .profile-img {
    margin-right: 0.5em;
    width: 70px;
    height: 70px;
}

.profile .profile-img img {
    width: 100%;
    border: 1px solid black;
    border-radius: 100%;
}

.profile .profile-info {
    display: flex;
    flex-direction: column;
}

.profile .profile-info h3 {
    font-size: 15px;
}

.profile .profile-info p {
    font-size: 13px;
    font-weight: 4;
    letter-spacing: 1px;
    color: var(--profile-info-color);
    ;
    margin-top: 7px;
}

/**End of Profile styling*/


.profile-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
    margin-left: 2.5em;
}

.profile-section .profile-nav-lists {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--border-color);
    /* margin-left: 2.5em; */
    margin-right: 5em;
}

.profile-section .profile-nav-lists a {
    text-decoration: none;
    color: black;
}

.profile-section .profile-nav-lists .profile-nav-lists-list {
    margin-right: 1.7em;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.profile-section .profile-nav-lists .profile-nav-lists-list:hover {
    cursor: pointer;
}


.profile-section .profile-nav-lists a #profile-nav-list-edit {
    border-bottom: 5px solid var(--active-tab-color);
    color: var(--active-tab-color);
}

@media screen and (max-width:638px) {
    .profile-section {
        margin-left: 1.5em;
        margin-right: 1em;
    }

    .profile-section .profile-nav-lists .profile-nav-lists-list {
        font-size: 10px;
    }
}

.profile-section .change-picture {
    display: flex;
    margin-bottom: 5em;
}

.profile-section .change-picture .profile-picture {
    margin-right: 1.5em;
    width: 100%;
}

.profile-section .change-picture .profile-picture img {
    width: 100%;
    border: 1px solid black;
    border-radius: 100%;
}

/* 
.profile-section .change-picture .change-form .choose-file-input input {
    border: 1px solid gray;
} */
.profile-section .change-picture .change-form .choose-file-input {
    display: flex;
    flex-direction: column;
}

.profile-section .change-picture .change-form .choose-file-input label {
    font-size: 10px;
    font-weight: 2;
    color: gray;
    margin-top: 0.7em;
}

.profile-section .change-picture .change-form button {
    margin-top: 2em;
    width: 107px;
    height: 50px;
    background-color: var(--button-bg-color);
    border: 1px solid var(--border-color);
    color: var(--button-color);
    border-radius: 5px;
}

.profile-section .change-info {
    /* padding-right: 2em;
    padding-left: 1em; */
    max-width: 950px;
    /* outline: 1px solid black; */
}

.profile-section .change-info form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-section .change-info form .change-personal-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;

}



.profile-section .change-info form .change-personal-info .change-education,
.profile-section .change-info form .change-personal-info .change-sex,
.profile-section .change-info form .change-personal-info .change-age {
    /* outline: 1px solid black; */
    width: 100%;
    padding: 20px;
    padding-left: 0px;
}

.profile-section .change-info form .change-personal-info .change-sex {
    padding-right: 0px;
}

.profile-section .change-info form .change-personal-info input {
    width: 100%;
    border: 1px solid var(--input-border-color);
    margin-right: 10px;
}

.profile-section .change-info form .change-personal-info select {
    width: 100%;
}



.profile-section .change-info form .change-biography-textarea textarea {
    padding-left: 18px;
    padding-top: 20px;
    padding-bottom: 21px;
}


.profile-section .change-info form .change-name-input,
.profile-section .change-info form .change-biography-textarea,
.profile-section .change-info form .change-interest,
.profile-section .change-info-form .change-social,
.profile-section .change-info form .change-personal-info .change-education,
.profile-section .change-info form .change-personal-info .change-sex,
.profile-section .change-info form .change-personal-info .change-age,
.profile-section .change-info form .change-social {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;

}

.profile-section .change-info form .change-name-input input,
.profile-section .change-info-form .change-social input,
.profile-section .change-info form .change-personal-info .change-sex input,
.profile-section .change-info form .change-personal-info .change-age input,
.profile-section .change-info form .change-social input {
    width: 100%;
    height: 3em;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.profile-section .change-info form .change-interest select,
.profile-section .change-info form .change-personal-info .change-education select {
    border: 1px solid black;
    background-color: white;
    height: 3em;
}

.profile-section .change-info form label {
    font-weight: bold;
}

.profile-section .change-info form .social-media-buttons {
    margin-bottom: 2.5em;
    margin-top: 0.3em;
    display: flex;
    flex-wrap: wrap;
}

.profile-section .change-info form .social-media-buttons a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    color: black;
    margin-right: 0.3em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.profile-section .change-info form .social-media-buttons a .social-media-icons img {
    width: 20px;
    height: 21px;

}

.profile-section .change-info form .social-media-buttons a .social-media-icons {
    display: flex;
    margin-right: 3px;

}

/* .profile-section .change-info form .social-media-buttons a .social-media-icons img {
    width: 100%;
    height: 100%;
} */


.profile-section .change-info form button {
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-color);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.profile-section .change-info form button:hover {
    cursor: pointer;
}

@media screen and (min-width:411px) {
    .profile-section .change-picture .profile-picture {
        margin-right: 1.5em;
        width: 15%;
    }

    /* .profile-section .change-info {  
        padding-right: 15em;
        padding-left: 1em;
    } */

    .profile-section .change-info form .change-name-input input,
    .profile-section .change-info-form .change-social input,
    .profile-section .change-info form .change-personal-info .change-sex input,
    .profile-section .change-info form .change-personal-info .change-age input,
    .profile-section .change-info form .change-social input {
        width: 100%;
    }



}

@media screen and (min-width:600px) {
    .profile-section .change-picture .change-form .choose-file-input label {
        font-size: 15px;
    }
}





.profile-section .profile-form {
    /* display: none; */
    margin-left: 2.5em;
}

.profile-section .profile-form .profile-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.profile-section .profile-form .profile-input input {
    width: 80%;
    height: 3em;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding-left: 20px;
    padding-bottom: 14px;
    padding-top: 20px;
}

.profile-section .profile-form .profile-input label {
    font-weight: bold;

}

.profile-section .profile-form button {
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--button-bg-color);
    border: 1px solid var(--border-color);
    color: var(--button-color);
    font-size: 15px;
    border-radius: 5px;
}

.profile-section .profile-form button:hover {
    cursor: pointer;
}

@media screen and (min-width:637px) {
    .profile-section .profile-form .profile-input input {
        width: 60%;
    }

    .profile-section .profile-nav-lists {
        width: 60%;
    }
}

[data-tab-content] {
    display: none;
}


.active[data-tab-content] {
    display: block;
}

.active-click {
    color: var(--active-tab-color);
}



.active-click::after {
    content: " ";
    display: block;
    background-color: var(--active-tab-color);
}