* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.profile {
    margin-left: 2.5em;
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5em;
}

.profile .profile-img {
    margin-right: 0.5em;
    width: 5%;
}

.profile .profile-img img {
    width: 100%;
    border: 1px solid black;
    border-radius: 100%;
}

.profile .profile-info {
    display: flex;
    flex-direction: column;
}

.profile .profile-info h3 {
    font-size: 15px;
}

.profile .profile-info p {
    font-size: 13px;
    font-weight: 4;
    letter-spacing: 1px;
    color: gray;
    margin-top: 7px;
}

/*End of Profile section*/

.profile-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
}

.profile-section .profile-nav-lists {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    border-bottom: 1px solid gray;
    margin-left: 2.5em;
    margin-right: 5em;
}

.profile-section .profile-nav-lists a {
    text-decoration: none;
    color: black;
}

.profile-section .profile-nav-lists .profile-nav-lists-list {
    margin-right: 1.7em;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.profile-section .profile-nav-lists .profile-nav-lists-list:hover {
    cursor: pointer;
}

.profile-section .profile-nav-lists a #profile-general-nav {
    border-bottom: 5px solid #6D7DF6;
    color: #6D7DF6;
}

@media screen and (max-width:638px) {
    .profile-section .profile-nav-lists a .profile-nav-lists-list {
        font-size: 10px;
    }
}

.profile-section .profile-form {
    margin-left: 2.5em;

}

.profile-section .profile-form .profile-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.profile-section .profile-form .profile-input input {
    width: 80%;
    height: 3em;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.profile-section .profile-form .profile-input label {
    font-weight: bold;
}

.profile-section .profile-form button {
    padding: 8px 50px;
    background-color: #3C48A5;
    border: 1px solid #3C48A5;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.profile-section .profile-form button:hover {
    cursor: pointer;
}

@media screen and (min-width:637px) {
    .profile-section .profile-form .profile-input input {
        width: 60%;
    }

    .profile-section .profile-nav-lists {
        width: 60%;
    }
}